
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
 min-height:100vh;
 overflow-x: hidden;
 background: linear-gradient(#E3F2FD, #2196F3);

}

.headers {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
} /*places spaces between the headers*/



header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 75px;
} /*centers the headers amd lowers them from the top of the page*/



header ul li{
    list-style: none;
    margin-left: 20px;

} /*adjusts space between headers */



header ul li a {
    text-decoration:none;
    padding: 6px 15px;
    color: black;
    border-radius: 20px;
} 

header ul li a:hover {
    background: white;
    color: lightseagreen; 
    
} /*changes the header blue when mouse is over the header*/


section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} /*aligns mountain image and bear image within the section */

section::before{
content: '';
position: absolute;
bottom: 0;
width: 100%;
height:100px;
background: #6badc9;
z-index:1000;

}

section img#bear {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10; /* positions bear image in front of mountains */
    pointer-events: none;
}

section img#mountains{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit:cover;
}
section img#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit:cover;
}
#text{
    position:absolute;
    color:white;
    white-space: nowrap;
    font-family:'Overlock', cursive;
    font-size: 7.5vw;
    z-index: 9; /* postitions text above the mountain image but below the bear */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.About{
  position: relative;
  padding: 100px;
  background: linear-gradient(to top, transparent, #6badc9);
} /* about me page */

.About h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
    
}
.About p{
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
    position:relative;
    left: 9cm;
    top: 2cm;

}


.me{
    position: relative;
    width: 10cm;
    height: 12cm;
    right: 1.5cm;
    filter:blur(50px);
    border: 5px solid;
    border-color: teal;
    
;
}
.me:hover{
    position: relative;
    width: 10cm;
    height: 12cm;
    right: 1.5cm;
    border: 5px solid;
    border-color:teal;
    filter:blur(0px);
}



.arrow{
    font-size: 10em;
    
}

.Coding-tasks{
background:linear-gradient(to top,#2196F3, transparent);
position: relative;
padding:100px;
}

.Coding-tasks h2{
    font-size: 3.5em;
    margin-bottom:10px;
    color: black;
}

.Coding-tasks p{
    font-size: 1em;
    margin-bottom:10px;
    color: black;
}

.CARP{
    background:linear-gradient(to top,#1976d2,#2196F3);
    position:relative;
    padding: 100px;
    
}
.CARP h2{
    font-size: 3.5em;
    margin-bottom:10px;
    color:black;
}

.CARP p{
    font-size: 1em;
    margin-bottom:10px;
    color: black;
}

.Type{
    background:linear-gradient(to top,#1565C0,#1976d2);
    position:relative;
    padding:100px;
}

.Type h2{
    font-size: 3.5em;
    margin-bottom:10px;
    color:black;
}

.Type p{
    font-size:1em;
    margin-bottom:10px;
    color: black;
}

.UX{
    background: linear-gradient(to top, #0D47A1, #1565C0 );
    position:relative;
    padding:100px
}

.UX h2{
    font-size: 3.5em;
    margin-bottom:10px;
    color:black;
}

.UX p{
    font-size:1em;
    margin-bottom:10px;
    color:black;
}