
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
 min-height:100vh;
 background: linear-gradient(#E3F2FD, #0D47A1);
}

.headers {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
} /*places spaces between the headers*/

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 75px;
} /*centers the headers amd lowers them from the top of the page*/

header ul li{
    list-style: none;
    margin-left: 20px;
} /*adjusts space between headers */

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 20px;
} /*creates round box when mouse is over the header*/

header ul li a:hover {
    background: white;
    color: lightseagreen; 
} /*changes the header blue when mouse is over the header*/

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} /*aligns mountain image and bear image within the section */

section img#bear {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10; /* positions bear image in front of mountains */
    pointer-events: none;
}

section img#mountains{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit:cover;
}
#text{
    position:absolute;
    color:white;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9; /* postitions text above the mountain image but below the bear */
}
.About{
  position: relative;
  padding: 100px;
  background: lightcyan;  
} /* about me page */

.About h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}