
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
 min-height:100vh;
 overflow-x: hidden;
 background: linear-gradient(#E3F2FD, #2196F3);
 padding: 0px;

}

.headers {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
} /*places spaces between the headers*/




header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 75px;
    background: linear-gradient(white,transparent);
    position: fixed;
    right: 0;
    left:0;
    z-index:99999;
} /*centers the headers amd lowers them from the top of the page*/



header ul li{
    list-style: none;
    margin-left: 20px;

} /*adjusts space between headers */



header ul li a {
    text-decoration:none;
    padding: 6px 15px;
    color: black;
   /* border:solid lightseagreen; */
    border-radius: 20px;
    
    
} 

header ul li a:hover {
    background: white;
    color: lightseagreen; 
    
} /*changes the header blue when mouse is over the header*/


section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} /*aligns mountain image and bear image within the section */

section::before{
content: '';
position: absolute;
bottom: 0;
width: 100%;
height:100px;
background: #6badc9;
z-index:1000;

}

section img#bear {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10; /* positions bear image in front of mountains */
    pointer-events: none;
}

section img#mountains{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit:cover;
}
section img#snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit:cover;
}
#text{
    position:absolute;
    color:white;
    white-space: nowrap;
    font-family:'Overlock', cursive;
    font-size: 7.5vw;
    z-index: 9; /* postitions text above the mountain image but below the bear */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.About{
  position: relative;
  padding: 100px;
  background: linear-gradient(to top, transparent, #6badc9);
} /* about me page */

.About h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
    
}
.About p{
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
    position:relative;
    left: 9cm;
    top: 2cm;

}


.me{
    position: relative;
    width: 10cm;
    height: 12cm;
    right: 1.5cm;
    filter:blur(50px);
    border: 5px solid;
    border-color: teal;
    
;
}
.me:hover{
    position: relative;
    width: 10cm;
    height: 12cm;
    right: 1.5cm;
    border: 5px solid;
    border-color:teal;
    filter:blur(0px);
}



.arrow{
    font-size: 10em;
    
}

.Coding-tasks{
background:linear-gradient(to top,#2196F3, transparent);
position: relative;
padding:100px;
}

.Coding-tasks h2{
    font-size: 3.5em;
    margin-bottom:10px;
    color: black;
}

.Coding-tasks p{
    font-size: 1em;
    margin-bottom:10px;
    color: black;
    position: relative;
    top:1.3cm;
}

.worksheet1{
    position: relative;
    width: 25cm;
    height: 12cm;
    bottom: 4.3em;
    right: 0cm;
    left: 12cm;
    border: 5px solid;
    border-color: lightseagreen;
}
.worksheet1_github{
    text-decoration:none;
    padding: 6px 5px;
    color: black;
    text-align:center;
    border: solid 2px black;
    border-radius: 50px;
    padding:10px 80px;
    position: relative;
    bottom: 9cm;
    right: 23cm;


}

.worksheet1_github:hover{
    background: whitesmoke;
    color: lightseagreen;

}

.task2{
    position: relative;
    left:23.5cm;
}

.worksheet2{
    position:relative;
    width: 25cm;
    height: 12cm;
    right: 2cm;
    bottom:2.3cm;
    border: 5px solid;
    border-color: lightseagreen;
    
}
.worksheet2_github{
    text-decoration:none;
    padding: 6px 5px;
    color: black;
    text-align:center;
    border: solid 2px black;
    border-radius: 50px;
    padding:10px 80px;
    position: relative;
    bottom: 9cm;
    left:1cm;
}

.worksheet2_github:hover{
    background: whitesmoke;
    color: lightseagreen;
}


.task2p{
    position:relative;
    left: 23.3cm;
    
}

.worksheet3{
    position:relative;
    width: 25cm;
    height: 12cm;
    left: 12cm;
    bottom:3.9cm;
    border: 5px solid;
    border-color:lightseagreen;
    
}
.worksheet3_github{
    text-decoration:none;
    padding: 6px 5px;
    color: black;
    text-align:center;
    border: solid 2px black;
    border-radius: 50px;
    padding:10px 80px;
    position: relative;
    bottom: 9cm;
    right: 23.5cm;
}

.worksheet3_github:hover{
    background:whitesmoke;
    color: lightseagreen
}

.task3p{
    position:relative;
    right:0.5cm;
}

.worksheet4{
    position:relative;
    width: 25cm;
    height: 12cm;
    right: 2cm;
    bottom:3.2cm;
    border: 5px solid;
    border-color: lightseagreen;

}

.task4{
    position: relative;
    left:23.5cm;
}

.task4p{
    position:relative;
    left: 23.3cm;
}

.worksheet4_github{
    text-decoration:none;
    padding: 6px 5px;
    color: black;
    text-align:center;
    border: solid 2px black;
    border-radius: 50px;
    padding:10px 80px;
    position: relative;
    bottom: 8.7cm;
    left:1.6cm;
}

.worksheet4_github:hover{
    background:whitesmoke;
    color:lightseagreen;
}

.slider{
    position: relative;
    width: 60%;
    overflow: hidden;
    left:16.2cm;
    bottom:5cm;
    
}

.images{
    display: flex;
    width: 100%;
    border: 5px solid;
    border-color: lightseagreen;
}

.images img{
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}

.images input{
    display: none;
}

.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.25s ease;
    margin: 5px;
}
.dots label:hover{background: #fff;}
#img1:checked ~ .m1 {
    margin-left: 0%;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}

.worksheet5_github{
    text-decoration:none;
    padding: 6px 5px;
    color: black;
    text-align:center;
    border: solid 2px black;
    border-radius: 50px;
    padding:10px 80px;
    position: relative;
    top: 3cm;
    left: 4cm;
}

.worksheet5_github:hover{
    background:whitesmoke;
    color: lightseagreen
}


.CARP{
    background:linear-gradient(to top,#1976d2,#2196F3);
    position:relative;
    padding: 100px;
    height: 37cm;
    
    
}
.CARP h2{
    font-size: 3.5em;
    
    color:black;
    position:relative;
    bottom:1cm;

}

.CARPh1{
    font-size: 2em;
    
    color:black;
    position: relative;
    left: 17cm;
    top: 5cm;
    
}

.design1p{
    font-size: 1em;
    
    color: black;
    position: relative;
    left: 17cm;
    bottom: 37cm;
}

.design2h{
    font-size: 2em;
    color: black;
    position: relative;
    left: 17cm;
    top: 10cm;
}

.design2p{
    font-size: 1em;
    color: black;
    position: relative;
    left: 17cm;
    bottom: 34.1cm;
}

.design3h{
    font-size: 2em;
    color: black;
    position: relative;
    left: 17cm;
    top: 14.5cm;

}

.design3p{
    font-size: 1em;
    color: black;
    position: relative;
    bottom: 31cm;
    left: 17cm;


}

.finaldesign{
    font-size: 2em;
    color: black;
    position: relative;
    left: 17cm;
    top: 19cm;

}

.finaldesignp{
    font-size: 1em;
    color: black;
    position: relative;
    left: 17cm;
    bottom: 28cm;


}

.everythingexceptheader{
    position:relative;
    bottom:4cm;
}
.slider2{
    position: relative;
    height: 40cm;
    width: 18cm;
    overflow: hidden;
    
    right: 1.8cm;
    bottom: 0cm;
    
    
}

.images2{
    display: flex;
    width: 200%;
    height: 20px;
    
    
}

.images2 img{
    height: 1000px;
    width: 50%;
    transition: all 0.15s ease;
    border: 5px solid;
    border-color: lightseagreen;
}

.images2 input{
    display: none;
}


.dots2{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots2 label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.25s ease;
    margin: 5px;
    position: relative;
    top: 26cm;
}
.dots2 label:hover{background: #fff;}
#img3:checked ~ .m3 {
    margin-left: 0%;
    
}
#img4:checked ~ .m4 {
    margin-left: -50%;
}

#img5:checked ~ .m5 {
    margin-left: -100%;
}
#img6:checked ~ .m6 {
    margin-left: -150%;
}



.Type{
    background:linear-gradient(to top,#1565C0,#1976d2);
    position:relative;
    padding:100px;
}

.Type h2{
    font-size: 3.5em;
    margin-bottom:10px;
    color:black;
}

.Type p{
    font-size:1em;
    margin-bottom:10px;
    color: black;
}

.UX{
    background: linear-gradient(to top, #0D47A1, #1565C0 );
    position:relative;
    padding:100px;
    height:fit-content;
    overflow: hidden;
    margin:0px;
    
}

.UXheader{
    font-size: 3.5em;
    margin-bottom:0px;
    color:black;
}

.UX p{
    font-size:1em;
    margin-bottom:0px;
    color:black;
}

.flowcharth{
    position: relative;
    top:30.1cm;
    left: 5cm;
}

.flow{
    position: relative;
    top: 2cm;
}

.wireframesh{
    position: relative;
    top:1.2cm;
    left: 25.5cm;
}

.flowchartp{
    position: relative;
    top:30.4cm;
}

.wireframep{
    position:relative;
    top:1.5cm;
    left: 21cm;
}

.line{
    border-left: 3px solid black;
    height: 250px;
    position: relative;
    left: 17.5cm;
    bottom: 1cm;

}

.strath{
    position: relative;
    bottom: 0cm;
    left: 13.4cm;
    text-decoration: underline 3px;
    
}

.stratp{
    position: relative;
    top:1cm;
}
.UXslider{
    position: relative;
    height: 28cm;
    width: 18cm;
    overflow: hidden;
    left: 8.5cm;
    bottom: 0cm;
    
    
}

.UXimages{
    display: flex;
    width: 200%;
    height: 20px;
    
    
}

.UXimages img{
    height: 1000px;
    width: 50%;
    transition: all 0.15s ease;
    border: 5px solid;
    border-color: lightseagreen;
}

.UXimages input{
    display: none;
}


.dots3{
    display: flex;
    justify-content: center;
    margin: 5px;
    
}

.dots3 label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.25s ease;
    margin: 5px;
    position: relative;
    top: 26cm;
}
.dots3 label:hover{background: white;}
#flowchart:checked ~ .m7 {
    margin-left: 0%;
    
}
#wireframe1:checked ~ .m8 {
    margin-left: -50%;
}

#wireframe2:checked ~ .m9 {
    margin-left: -100%;
}


footer{
    text-decoration:none;
    color: black;
    border: solid 2px black;
    border-radius: 50px;
    padding:20px 80px;
    list-style:none;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:0cm;
    top:2cm;
    
    
}

.wire{
    height: 2cm;
}

.oceanfloor{
    height:40cm;
}

.oceanfloorpng{
    position: relative;
    width: 120%;
    right: 3cm;
    top: 21cm;
}

.shark{
    position:relative;
    bottom: 25cm;
    width: 80%;
    height:50%;
}

.octopus{
    position: relative;
    width: 85%;
    height: 50%;
    bottom: 30cm;
    left: 10cm;
}
